@use "@styles/_variables.scss" as *;
@use "@styles/_functions.scss" as *;

.welcomeHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: pxToRem(16);
  inset: 0;
}
