@use "@styles/_functions.scss" as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*
 * Colors
 *
 * configure the colors required for the project here
 * */
$white: #ffffff;
$black: #000000;
$blue: #4361EE;

/*
 * Typography and font sizes
 *
 * configure the typography and font sizes required for the project here
 * */

// font familly
$primary-font: "Inter", sans-serif;
$secondary-font: "Poppins", sans-serif;

//font-sizes
$font-base: pxToRem(16);

//font-weight
$font-regular: 400;

/*
 * Screen Breakpoints
 * */

$desktop-xxl: pxToRem(1920);
$desktop-xl: pxToRem(1600);
$desktop-l: pxToRem(1440);
$desktop-m: pxToRem(1200);
$desktop-s: pxToRem(1024);
$tablet-l: pxToRem(992);
$tablet-m: pxToRem(768);
$tablet-s: pxToRem(640);
$mobile-l: pxToRem(576);
$mobile-m: pxTotRem(480);
$mobile-s: pxToRem(320);
