@use "@styles/_functions.scss" as *;
@use "@styles/_functions.scss" as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@400&family=Roboto:wght@400&display=swap');

/*
Contributor
@klassroom-ai klassroom-ai bot 19 minutes ago
Importing 8 different font families with all their weights via a single @import URL will significantly harm page load performance. Please remove unused fonts and weights to only load what is necessary for the project.
/*
 * Colors
 *
 * configure the colors required for the project here
 * */
$white: #ffffff;
$black: #000000;
$gray:#808080;
/*
 * Typography and font sizes
 *
 * configure the typography and font sizes required for the project here
 * */

// font familly
$primary-font: "Inter", sans-serif;
$secondary-font: "Poppins", sans-serif;

//font-sizes
$font-base: pxToRem(16);

//font-weight
$font-regular: 400;

/*
 * Screen Breakpoints
 * */

$desktop-xxl: pxToRem(1920);
$desktop-xl: pxToRem(1600);
$desktop-l: pxToRem(1440);
$desktop-m: pxToRem(1200);
$desktop-s: pxToRem(1024);
$tablet-l: pxToRem(992);
$tablet-m: pxToRem(768);
$tablet-s: pxToRem(640);
$mobile-l: pxToRem(576);
$mobile-m: pxTotRem(480);
$mobile-s: pxToRem(320);
