@use "@styles/_variables.scss" as *;
@use "@styles/_functions.scss" as *;
.banner {
  max-width: 1140px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:$brandPrimary;
  border-radius: 20px;
  padding: 0 4rem;
  color: $white;
  overflow: hidden;
  margin: 0 auto 100px auto; 
  border: 2px solid rgba(255, 255, 255, 0.1);

  @media (max-width: 1000px) {
    flex-direction: column;
    text-align: center;
    padding: 2rem;
   margin: 0 20px 50px 20px;

  }

.content {
  max-width: 594px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  @media (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  @media (max-width: 500px) {
    gap: 20px;
  }
  .textContainer {
    margin-top: 20px;
    @media (max-width: $tablet-m) {
      margin-top: 0;
    }
    .title {
      font-family: $secondary-font;
      font-weight: 600;
      font-size: clamp(24px, 5vw, 40px);
      line-height: 47px;
      letter-spacing: 0%;
      color: $white;
      margin-bottom: 30px;

      @media (max-width: 768px) {
        margin-bottom: 0;

      }
    }

    .description {
      font-family: $secondary-font;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0%;
      color: $white;
    }
  }
}
.button {
  font-family: $secondary-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;

  background-color: $white;
  color: $brandPrimary;
  border: none;
  border-radius: 25px;
  padding: 0.75rem 1.75rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
 
  &:hover {
  background:$white-smoke;
  transform: translateY(-1px); 

  }
}

.imageWrapper {
  img {
    width: 250px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }

  @media (max-width: $tablet-m) {
    margin-bottom: 1.5rem;
  }
}}